section.covid19 {
	display: grid;
	grid-template-columns: 1fr;
	@media (--content-query) {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-gap: 2rem;
		width: 65vw;
	}
}
.blocka,
.blockb,
.blockc {
	display: flex;
	flex-direction: column;
	text-align: center;
	display: grid;
	margin-top: 3rem;
	margin-bottom: -3rem;
	/* background: rgba(0,0,0,.95); */
	padding: 3rem 0;

	& button {
		background: #DF4122;
		margin-bottom: 2rem;
		max-width: 70vw;
		margin-left: auto;
		margin-right: auto;
	}

	@media (--sidebar-query) {
		margin-top: 0rem;

	}

}

.blockc {
	& .lightbox {
		display: grid;
		grid-template-columns: 1fr;
		@media (--content-query) {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		}

		& .blockContent {
			display: grid;
			color: #f7f7f7;
			@media (--content-query) {
			grid-column: 2 / 4;
			grid-row: 2 / 3;
			}

			& p {
				font-size: .8rem;
				padding: 0 1rem;

				@media (--wide-menu-query) {
					font-size: .7rem;
				}
				@media (--content-query) {
					font-size: 1rem;
				}
			}

		}
	}


}
