.page-template-contact {

	& .titleTagWrapper {
		margin-top: -13rem;
		@media (--content-query) {
		margin-top: -22rem;
		}
	}
	& main {
		top: -17rem;
		@media (--content-query) {
		}
	}
    & #contactUsBlock {
        padding-top: 10rem;
        display: flex;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
        grid-gap: 2rem;
		@media (--content-query) {
			padding-top: 0;
		}
        & .leftBlock,
        & .rightBlock {
            width:95%;
            margin-left: auto;
            margin-right: auto;
            @media (--ipad-landscape-plus-menu-query) {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }

        & .leftBlock {
            & #googleMap {
                padding-bottom: 2rem;
            }
        }
    }

    & .rightBlock {
        margin-left: -1rem;
    }

        & #phone a {
            color: #333;
            text-decoration: none;
            font-size: 1rem;
        }

        & ul {
            margin: 0 0 1.5em 1em;

            & li {
                font-size: 1rem;
                list-style: none;
            }
        }
    }
    @media (--narrow-menu-query) {
   & #contactUsBlock .rightBlock {
        margin-left: 1rem;
        padding-right: 5rem;
    }
}
& main {
	margin: 0 auto;
	/* width: 100vw; */
	& h2 {
		text-transform: uppercase;
		@media (--content-query) {
		margin-top: 5rem;
		}
	}
	@media (--content-query) {
	top: -10rem;
	width: 80vw;
	}
}
& #masthead amp-img.wp-post-image {
	@media (--content-query) {
	top: -15rem;
	position: relative;
	margin-bottom: -10rem;
	}
}
& .titleTagWrapper .site-title {
	@media (--content-query) {
		top: -2rem;
		position: relative;
	}
}
& .site-footer {
	margin: -15rem 0 0;
	@media (--content-query) {
		margin: -5rem 0 0;
	}
}
}
