.page-template-listen-live-page-template {
	& #masthead {
		margin-top: 3rem;
		top: 0;
		position: relative;
		height: 30rem;
	}
	& .site {
		grid-template-columns: 1fr;
		background: rgba(0,0,0,.9);
		& .site-main {
			@media (--wide-menu-query) {
		margin: auto;
			}
		}
	}
	& #primary {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		& iframe {
			width: 100vw;
		}
		& .iFrame {
			grid-column: 1/3;
		}
		& .adsFrame {
			grid-column: 4;
		}
	}

}
