
.blockWrapper {
	display: grid;
	margin-bottom: 3rem;
	@media (--content-query) {
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas:
		"aSide blockLayout blockLayout blockLayout";
		& aside#secondary {
			margin: auto 3vw;
			grid-gap: 3rem;
			}
	}
}



.blockWrapperBlog {
	display: grid;
	margin-bottom: 3rem;
	@media (--content-query) {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas:
		"aSideBlog blockLayoutBlog blockLayoutBlog blockLayoutBlog blockLayoutBlog";
	}
}
.site {
	margin: 0 auto;
	background: #f7f7f7;
	@media (--content-query) {
		margin: 4rem auto 0;
	}
}
.site-title {
	color: #fff;
	font-weight: 300;
	font-family: Oswald, sans-serif;
}
.site-header {
	max-width: 100vw;
}
.header-image {
	/* background-color: #333; */
	margin-top: 2rem;
	@media (--content-query) {
		margin-top: 0;
		& amp-img.amp-wp-enforced-sizes[layout="intrinsic"] > img {
			object-fit: cover;
		}
		& img {
		display: block;
		margin: 0 auto;
		margin-top: -4rem;
		}
		@media (--sidebar-query) {
		max-height: 41rem;
		/* opacity: .7; */
	}
	}
}
.primary-menu-container {
	position: fixed;
	background: rgba(0,0,0,0.92);
    width: 70vw;
	padding: 0 1rem;
	z-index: 6;
	 & amp-img {
		position: absolute;
		left: 1rem;
	}
	@media (--content-query) {
		background: transparent;
		width: 90vw;
	}
  }
.tagline {
	color: #cecbcc;
	width: 75%;
    margin-left: auto;
	margin-right: auto;
	font-weight: 700;
	font-size: 1rem;
	text-transform: uppercase;
	text-align: center;
	/* background-image: url(../images/fm-lines.png); */
	@media (--content-query) {
		width: fit-content;
	margin-left: auto;
	font-size: 1.5rem;
	left: 7rem;
	position: relative;
	}
	@media (--sidebar-query) {
		font-size: 2rem;
		text-shadow: 1px 2px #333;
		grid-column: 1 / 3;
    grid-row: 4/4;
	}
}
.titleTagWrapper {
	top: 1.55rem;
	position: absolute;
	margin-top: 0;
    text-align: center;
	width: 100vw;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 2rem;
	& .heroTitle {
		z-index: 0;
	}
	& .heroText img {
		z-index: 2;
		max-height: 7rem;
		@media (--content-query) {
		max-height: 14rem;
		}
		@media (--sidebar-query) {
			max-height: 19rem;
		}
	}
	@media (--content-query) {
		/* margin-top: -18rem; */
		grid-template-columns: 3fr 1fr;
		margin-top: auto;
    top: 3rem;
	position: absolute;
	text-align: left;
	}
	@media (--sidebar-query) {
		/* margin-top: -30rem; */
		margin-top: 0;
		position: absolute;
		top: 6rem;
	}
	& .site-title {
		top: 3rem;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		font-size: 3.9rem;
		@media (--content-query) {
			font-size: 1.5rem;
		}
	}
}
.has-sidebar .site {
	margin: 0;
	display: grid;
	grid-template-columns: 1fr;
}
section {
	margin: 3rem auto;
}
.sectionHeader {
	margin-left: 2rem;
@media (--content-query) {
	 & .sectionCardsBlock .sectionCard h3 {
		font-size: 1rem;
	}
}
@media (--sidebar-query) {
		margin-left: 5rem;
}
}
.sectionDescription {
    width: 90%;
}
/* .site-branding {
	display: flex;
} */
.site-info {
	margin: 1.5em auto;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
}
.ctaButton {
	border: 1px solid #711EAF;
    border-radius: .1rem;
    width: fit-content;
    line-height: 2rem;
    text-align: center;
    -webkit-font-feature-settings: "smcp","c2sc";
    font-feature-settings: "smcp","c2sc";
    font-variant-caps: all-small-caps;
    margin-bottom: 0rem;
    background: transparent;
	padding: .3rem 1rem;

	& a,
	& a:hover,
	& a:visited {
		color: #711EAF;
		text-decoration: none;
		letter-spacing: .3rem;
	}

	& h5 {
		margin-block-start: 0.7rem;
		margin-block-end: 0.9rem;
		font-size: 1.3rem;

	& a {
		color: #711EAF;
		text-decoration: none;
		font-style: italic;
		}
	}
	& .site-info {
		& a:visited {
			color: #711EAF;
		}
	}
}

.main-navigation {
	width: 70vw;
	& .menu {
		margin-right: 0;
		@media (--content-query) {
			margin-right: 5rem;
		}
	}
	& a{
    /* color: #f7f7f7; */
}
& ul ul li {
	padding-left: 1em;
	font-size: 1rem;
}
@media (--content-query) {
	top: 0;
    position: fixed;
    z-index: 6;
	right: 3rem;
}
}
.lightbox {
    background: rgba(0,0,0,.8);
    width: 100%;
    height: 100%;
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}

figcaption {
    position: relative;
    top: -60vh;
    font-size: 3rem;
    color: #f7f7f7;
	text-shadow: 3px 3px #333;
	background: rgba(0,0,0,.8);
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
	border-radius: 1rem;
	@media (--narrow-menu-query) {
		top: -44vh;
		font-size: 2rem;
		width: 80vw;
	}
}

#findUs {
	grid-area: findus;
}

#phone {
	/* grid-area: phone; */
}

#subscribe {
	grid-area: subscribe;
}

.site-footer {
	display: flex;
	display: grid;
	margin: auto 2fr;
	grid-template-rows: 1fr 60px;
	color: #333;
	& h4 {

		text-transform: uppercase;
		font-weight: 600;
		font-size: 1rem;
	}
	& h5 ,
	& li,
	& a {
		font-size: 1rem;
		line-height: 1rem;
		font-weight: 400;
		color: #333;
		text-decoration: none;
	}

	& ul {
		margin-left: 0;
		padding-inline-start: 0;
		& li {
			list-style: none;
		}
	}
	& address {
		font-style: normal;
	}
	& .blockTitle {
		padding: 0.2rem 0;
		text-align: left;
	}
	& .topBlock {
		display: flex;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 0.5rem;
		margin: 0 2rem 8rem;

		@media (--content-query) {
			grid-template-columns: 1fr 1fr 1fr;
			margin: 0 5rem 8rem;
		}

	& .leftBlock {
		display:flex;
		display: grid;
		grid-template-columns: 1fr;
		text-align: left;

	}

	& .middleBlock,
	& .rightBlock {
		display: flex;
    justify-content: center;
    display: grid;
    grid-template-rows: 5rem 1fr;
    grid-template-columns: 1fr;
    grid-gap: .5rem;
		& .blockTitle {
			& h5 {
				font-size: 1rem;
				font-weight: 600;
			}
		}
		& amp-img {
			/* width: 100%; */
			@media (--content-query) {
				/* height: 10rem; */
			}
		}
	}

	& .blockImages {
		display: flex;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 1.5rem;

		& amp-img {

			/* width: 100%; */
			@media (--content-query) {
				/* height: 10rem; */
			}
			@media (--large-desktop-query) {
				/* height: 100%; */
			}
		}
		@media (--content-query) {
			grid-template-columns: 1fr 1fr;
			/* max-height: 50rem; */
			grid-gap: 0.5rem;
		}
		& amp-img.amp-wp-enforced-sizes[layout="intrinsic"] > img {
			object-fit: cover;
		}
	}
	& .rightBlock .blockImages amp-img {
		/* height: 50rem; */
	}

	& .middleBlock .row2,
	& .rightBlock .row2 {
		display:flex;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	}
}

	& .baseBlock {
		background: #fff;
		bottom: 0;
		position: absolute;
		width: 100vw;

		& .builtBy {
			width: 100vw;
			/* background: rgba(0,0,0,.9); */
		}
	}

}

	/* Template Page mods begin */
	.page-template {

		& .site {
			justify-content: flex-start;
			grid-gap: 0;
		}

		& main {
			/* background: #fff url(../images/tile.jpg); */
			width: 100vw;
		}

		& .site-title {
			width: 50%;
			margin-left: 25%;
			margin-right: auto;
		}
		& .preBlock {
			display: flex;
			display: grid;
			justify-content: center;
			text-align: center;
			width: 40vw;
			margin: auto auto -5rem;

			& h2 {
				color: #EF4723;
				font-size: 3rem;
				margin-bottom: 0;
			}

			& p {
				font-size: 1rem;
			}
		}
	}


/* start of mods */
.custom-logo {
	width: 3em;
	top: 0;
	position: fixed;
	left: 1.3em;
	z-index: 6;
	@media (--content-query) {
		width: 5.65em;
	}
}
footer .custom-logo {
	left: 0;
}

.nav--toggle-small .menu-toggle {
	position: fixed;
	top: 0.3em;
	right: 0.6em;
	z-index: 6;
	/* display: none; */
}
@media (--narrow-menu-query) {
.primary-menu-container {
	display: none;
}
}

.main-navigation.nav--toggled-on {
	top: 3em;
	right: 0;
	position: fixed;
	background: rgba(0, 0, 0, 0.7);
	z-index: 6;
	& .primary-menu-container {
		display: block;
		margin-top: -1rem;
	}
}

#mobileTopBar {
	height: 3.75rem;
	position: fixed;
	top: 0;
	width: 100vw;
	background: #000;
    z-index: 5;
}

#carouselHero,
amp-carousel,
.amp-carousel-slide,
#carouselHero amp-img {
	height: 30rem;
}

.site-branding {
	padding-top: 4rem;
	padding-bottom: 0;

	& .site-title {
		/* font-size: 1.5rem; */
		width: 100vw;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		text-shadow: 7px 5px 4px #111;
			/* transform: rotate(-5deg); */
		@media (--content-query) {
		/* font-size: 2rem; */
		width: 50%;
		margin-left: 25%;
		margin-right: auto;
		}
		@media (--sidebar-query) {
			font-size: 7rem;
			text-shadow: 7px 5px 4px #111;
			/* transform: rotate(-5deg); */
		}
	}
}

.site-description {
	top: 23rem;
	position: absolute;
	text-shadow: 1px 1px #000;
	color: #f7f7f7;
	font-size: 1.2rem;
	width: 30%;
	margin-left: 10%;
	background: rgba(0,0,0,.5);
	padding: 1.4rem;
}

main {
	top:-4rem;
	position: relative;
}
#subscribe {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	/* display: grid;
	grid-template-columns: 20px 1fr;
	grid-gap: 0.5rem; */
	justify-content: center;
	margin-top: 3rem;

	& #envelopeIcon {
		grid-column: 1;
		/* width: 100vw; */
	}

	& #ctaIframe {
		grid-column: 2;
		margin-top: -2rem;
		margin-left: auto;
		margin-right: auto;
	}
}

#themeSocial {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 1em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 0.5rem;
	justify-content: center;

	& > div {
		border-radius: 100%;
		height: fit-content;
		background: #dededc;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	& #socialIcon1 {
		grid-column: 1;
	}

	& #socialIcon2 {
		grid-column: 2;
	}

	& #socialIcon3 {
		grid-column: 3;
	}
}

.site-footer {
	top: 0;
	position: relative;
	/* background: #f7f7f7; */
	/* color: #f7f7f7; */
	margin: 0 0 0;
	/* background: #222222; */
	& a:visited {
		color: #333;
	}

	& #themeSocial {
		grid-gap: 0.1rem;
		width: 50%;
		margin-left: 25%;

		& > div,
		& #socialIcon1,
		& #socialIcon2,
		& #socialIcon3 {
			width: 2rem;
			align-self: center;
justify-self: center;
		}

		& amp-img {
			margin: 0.3rem;
		}
	}

	& #themeLogo {
		margin-top: 0;
		margin-bottom: 1rem;

		& amp-img {
		max-width: 100%;
		margin-left: auto;
		top: 2rem;
		position: relative;
		width: 15vw;
		@media (--content-query) {
			width: 5vw;
			& amp-img {
				max-width: 50%;
			}
		}
		}
	}

	& .site-info {
		margin: 0;
		font-size: 0.8rem;
		padding: 0;
		color: #333;
		@media (--content-query) {
		width: 100vw;
		max-width: 100vw;
		}
		& a {
			color: #888;
			text-decoration: none;
		}
	}
	& #businessSocial {
		grid-gap: .1rem;
		width: 50%;
		display: grid;
    grid-template-columns: 1fr 1fr 1fr;
		& #businessSocial>#socialIcon1 {
			width: 2rem;
		}
		& img {
			margin: .3rem;
			@media (--content-query) {
			width: 4vw;
		}
	}
	}
}
.heroButtons a {
    text-decoration: none;
}
/* Template Page mods begin */
.page-template {

	& main {
		top: -10rem;
	}
	& .preBlock {
		width: 70vw;
		margin: auto auto -4rem;
	}


}
